.AppContainer {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-family: Garamond, serif;
}

.AppContainer-header {
  background-color: #ffffff;
  color: #3c6382;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.selector-container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
}

.wordcloud-container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}