.AppContainer {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #7b705b64;
  font-family: Garamond, serif;
}

.AppContainer-header {
  background-color: #ffffff;
  color: #3c6382;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.sankey-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: 18px;
  color: #999;
  background-color: #f5f5f5;
  border-radius: 4px;
}